#emacs or vim temp files
*~
\#*
.\#*
#object files and compilation stuff
bootloader/boot/*.img
bootloader/boot/*.vdi
bootloader/stage1/*.o
bootloader/stage1/*sect
bootloader/stage2/*.o
bootloader/stage2/*.out
bootloader/stage1/*.s
bootloader/stage2/*.s
bootloader/utils/disk-mgmt-tool/*.pyc