[submodule "anrem"]
	path = anrem
	url = git@github.com:qwattash/anrem.git
	branch = master

[submodule "exec-envir/utils/disk-mgmt-tool"]
	path = exec-envir/utils/disk-mgmt-tool
	url = git@github.com:xenvre/disk-mgmt-tool.git
	branch = master
